<p id="notice"><%= notice %></p>

<h1>Breastfeeds</h1>

<table>
  <thead>
    <tr>
      <th>Volume</th>
      <th>Feed times</th>
      <th>Baby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breastfeeds.each do |breastfeed| %>
      <tr>
        <td><%= breastfeed.volume %></td>
        <td><%= breastfeed.feed_time %></td>
        <td><%= breastfeed.baby.name %></td>
        <td><%= link_to 'Show', breastfeed %></td>
        <td><%= link_to 'Edit', edit_breastfeed_path(breastfeed) %></td>
        <td><%= link_to 'Destroy', breastfeed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breastfeed', new_breastfeed_path %>
